@import './variable';

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

header,
.introduction__article,
.section__creations,
.opened__menu,
footer {
  padding-left: 30px;
  padding-right: 30px;
}
