@import "./variable";

footer {
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 24px;
}

.footer__title {
    margin-top: 0;
}

footer .social__media--list .list__item {
    margin-top: 30px;
    margin-bottom: 30px;
}