@import './variable';

footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 24px;
}

.footer__title {
  margin-top: 0;
}

footer .navigation__list {
  margin-top: 56px;
  margin-bottom: 56px;
}

footer .navigation__list--item {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer .social__media--list {
  display: flex;
  align-items: center;
  place-content: center;
  flex-wrap: wrap;
}

footer .list__item {
  margin-right: 20px;
}

footer .list__item:last-of-type {
  margin-right: 0;
}

.copyright__text {
  margin-top: 25px;
}
