@import './variable';
.navigation {
  background-image: url('#{$icon-path}/icon-hamburger.svg');
  width: 26px;
  height: 16px;
  @include background-style;
}

.masthead .navigation__list {
  display: none;
}
