@import './variable';

.masthead .navigation__list {
  display: none;
}

.opened__menu .navigation__list {
  display: block;
  text-transform: uppercase;
  margin-top: 50%;
}

.opened__menu .navigation__list--item {
  margin-bottom: 21px;
}

.opened__menu {
  padding-top: 27px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}

.close__menu {
  max-width: 20px;
  max-height: 20px;
  margin-left: auto;
}
