@import "./variable";

.creation__wrapper {
    display: grid;
    grid-gap: 30px;
}

.image__wrapper {
  position: relative;
}

.creation__title {
  position: absolute;
  top: calc(50% - 53px);
  left: 28px;
}
