body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

button,
a {
  cursor: pointer; }

ul {
  padding: 0;
  list-style: none; }

img {
  width: 100%; }

header,
.introduction__article,
.section__creations,
footer {
  padding-left: 30px;
  padding-right: 30px; }

.masthead {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: calc(100% - 60px);
  flex-wrap: wrap; }

.header,
.masthead {
  display: flex;
  color: #ffffff; }

.header {
  height: 100vh;
  place-content: center;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.header__title {
  align-self: center;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 20px; }

.navigation {
  background-image: url("../images//icon-hamburger.svg");
  width: 26px;
  height: 16px;
  background-repeat: no-repeat; }

.masthead .navigation__list {
  display: none; }

.introduction__article {
  text-align: center;
  margin-top: 191px;
  margin-bottom: 191px; }

.introduction__heading {
  margin-bottom: 96px; }

.section__creations {
  margin-top: 191px;
  margin-bottom: 191px;
  text-align: center;
  text-transform: uppercase; }

.creations__heading {
  margin-bottom: 105px; }

.creation__wrapper {
  display: grid;
  grid-gap: 30px;
  color: #ffffff;
  place-items: center; }

.image__wrapper {
  position: relative; }

.creation__title {
  position: absolute;
  top: calc(50% - 22px);
  left: 28px; }

.creation__button {
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #000000;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 45px;
  padding-left: 45px;
  max-width: max-content; }

footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 24px; }

.footer__title {
  margin-top: 0; }

footer .navigation__list {
  margin-top: 56px;
  margin-bottom: 56px; }

footer .navigation__list--item {
  margin-top: 30px;
  margin-bottom: 30px; }

footer .social__media--list {
  display: flex;
  align-items: center;
  place-content: center;
  flex-wrap: wrap; }

footer .list__item {
  margin-right: 20px; }

footer .list__item:last-of-type {
  margin-right: 0; }

.copyright__text {
  margin-top: 25px; }
