body {
  margin: auto; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  padding: 0;
  list-style: none; }

img {
  width: 100%; }

.creation__wrapper {
  display: grid;
  grid-gap: 30px; }

.image__wrapper {
  position: relative; }

.creation__title {
  position: absolute;
  top: calc(50% - 53px);
  left: 28px; }
